.module-list-item {
  height: 300px;
  width: 75%;
  margin: 1em;
  border-radius: 1em;
  cursor: pointer;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}
.module-list-item-inner-container {
  padding: 30px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.keyword-container {
  font-style: italic;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 0;
}

.keyword-chip {
  background-color: #c4c4c4;
  margin: 5px;
  color: black;
}

.keyword-chip:hover {
    background-color: #c4c4c4;
}
/* .module-img {
    height: 100px;
    width: 100px;
    border-radius: 50px; 
    align-self: center;
} */
