.lm-module {
    display: flex;
    flex-direction: column;
}

.back-button{
    display:flex;
    justify-content:flex-end;
}

.tab-panels{
    margin-top: -24px;
}

.tab-box{
    color:black;
    background-color: #efefefbe;
    border-radius: 5px;
    margin:2px;
}
/*This was my solution for focusing elements like in our figma page, but I couldn't get it to work when the page first loads, so I'm just defaulting to the MUI tab component api for now

 .tab-box:focus{
    color:black;
    background-color:darkgray;
} */

/* Left column */
.lm-leftcolumn {
    float: left;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    border:5px solid black;
    padding:20px;
}

/* Right column */
.lm-rightcolumn {
    float: left;
    width: 100%;
    height: 90%;
}

.learning-module-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

blockquote {
    border-left: 5px solid gray;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}