.module-list-item {
  width: 75%;
  margin: 1em;
  border-radius: 1em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.module-list-item-inner-container {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding:30px;
}
.keyword-container {
  font-style: italic;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 0;
}

.keyword-chip {
  background-color: #c4c4c4;
  margin: 5px;
  color: black;
}

.keyword-chip:hover {
    background-color: #c4c4c4;
}
/* .module-img {
    height: 100px;
    width: 100px;
    border-radius: 50px; 
    align-self: center;
} */
