.lm-module {
    display: flex;
    flex-direction: column;
}

.back-button{
    display:flex;
    justify-content:flex-end;
}

.tab-panels{
    margin-top: -26px;
}

.tab-box{
    color:black;
    background-color: #efefefbe;
    border-radius: 5px;
    margin:2px;
}
.tab-box:focus{
    color:black;
    background-color:darkgray;
}
/* Left column */
.lm-leftcolumn {
    float: left;
    width: 100%;
    height: 90%;
    background-color: rgb(206, 206, 206);
    overflow-y: auto;
}

/* Right column */
.lm-rightcolumn {
    float: left;
    width: 100%;
    height: 90%;
}

.learning-module-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

blockquote {
    border-left: 5px solid gray;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}