.lm-module {
    display: flex;
    flex-direction: column;
}

/* Left column */
.lm-leftcolumn {
    float: left;
    width: 50%;
    height: 90%;
    background-color: rgb(206, 206, 206);
    overflow-y: auto;
}

/* Right column */
.lm-rightcolumn {
    float: left;
    width: 50%;
    height: 90%;
}

.learning-module-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

blockquote {
    border-left: 5px solid gray;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}