.challengeContainer {
  background-color: #181818;
  padding-bottom: 50px;
  width:100%;
  display: flex;
  flex-direction: column;
}
.outerDesignContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.titleContainer {
  color: #ffffff;
  text-align: center;
  font-weight: 800;
  margin-bottom:25px;
}
.circle {
  height: 351px;
  width: 351px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background-color: #81c3d7;
  top: -137px;
  left: 152px;
}
.innerDesignContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}
.great {
  width: 60%;
}

.outerDescriptionContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.arrowRight {
  width: 22px;
  height: 12px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .titleContainer {
    color: #ffffff;
    text-align: left;
    font-weight: 800;
  }
  .outerDesignContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .innerDesignContainer {
    display: none;
  }
  
.outerDescriptionContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
}
