.challengeContainer {
  background-color: #181818;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.outerDesignContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.titleContainer {
  color: #ffffff;
  text-align: center;
  font-weight: 800;
}
.circle {
  height: 351px;
  width: 351px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background-color: #81c3d7;
  top: -137px;
  left: 152px;
}
.innerDesignContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}
.great {
  width: 70%;
}
.mock {
  position: absolute;
  z-index: 15;
  width: 234px;
  height: 241px;
  top: 27px;
  left: 251px;
}
.outerDescriptionContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.arrowRight {
  width: 22px;
  height: 12px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .innerDesignContainer {
    display: none;
  }
}
