.darkLearnContainer {
  width: 100%;
  height: 850px;
  background-color: #181818;
}
.learnJavaPythonContainer {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.learnTextContainer {
  padding: 0px 10px 0px 20px;
  box-shadow: inset 0 -28px #3a7ca5;
  width: 20%;
}
.learnText {
  font-weight: 400;
  color: #ffffff;
}
.listTitle {
  padding-left: 0px;
  display: flex;
  justify-content: flex-start;
}
.disc {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #81c3d7;
  margin: auto;
}
.disc1 {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #ffab00;
  margin: auto;
}
.disc2 {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #3a7ca5;
  margin: auto;
}
.largeDisc {
  height: 72px;
  width: 72px;
  margin-top: 5%;
  margin-right: 2px;
  border-radius: 50%;
  background-color: #3a7ca5;
}

.bottomImage {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
.middleImage {
  position: absolute;
  top: 200px;
  z-index: 20;
}
.topImage {
  position: absolute;
  left: 230px;
  top: 380px;
  z-index: 30;
}
.circle1 {
  background-color: #5d3ff9;
  height: 72px;
  width: 72px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: 204px;
  left: 510px;
}
.circle2 {
  background-color: #d08e87;
  height: 72px;
  width: 72px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  right: 490px;
  top: 350px;
}
.circle3 {
  background-color: #8312fe;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: 538px;
  left: 385px;
}

.pythonJavaButton {
  margin: auto;
}
.pythonJavaButton:hover {
  background-color: #ffab00;
}
.pythonJavaCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 235px;
  background-color: #222222;
}

.advantagesText {
  color: #ffffff;
}
