.sloganContainer {
  width: 100%;
  height: 100%;
  background-color: #181818;
  display: flex;
  justify-content: space-evenly;
}

.bannerTextContainer {
  height: 75%;
  width: 50%;
  margin: auto;
  position: absolute;
  font-weight: 700;
}
.bannerText {
  text-align: center;
  font-weight: 500;
}

.joinUsButton {
  width: 20%;
}
.joinUsButton:hover {
  background-color: #ffab00;
}
.arrowContainer {
  display: flex;
  flex-direction: column;
  width: 10%;
  cursor: pointer;
}
.downArrow {
  height: 5px;
  width: 10px;
}

.laptopImage {
  margin: 5px;
}
