.footerContainer {
  background-color: #222222;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index:1300;
  margin:0;
}

/* .emailQueryContainer{
    display:flex;
    flex-direction: row;
} */
.emailQueryField {
  background-color: #ffffff;
  height: 40px;
  text-align: center;
}
.emailQueryButton {
  height: 40px;
}
.emailQueryButton:hover {
  background-color: #ffab00;
}

.quoteText {
  color: #ffffff;
  margin: auto;
  width: 80%;
  text-align: center;
}

.footerImage {
  height: 50px;
  width: 50px;
}
