.footerContainer {
  background-color: #222222;
  height: 411px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1300;
  margin: 0;
  display: flex;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rightContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width:70%;
}
.imagesContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.emailQueryField {
  background-color: #ffffff;
  height: 40px;
  text-align: center;
}
.emailQueryButton {
  height: 40px;
}
.emailQueryButton:hover {
  background-color: #ffab00;
}

.quoteText {
  color: #ffffff;
  margin: auto;
  width: 80%;
  text-align: center;
}

.footerImage {
  height: 17px;
  width: 17px;
}
