.sortWrapper {
  display: flex;
  flex-direction: column;
}
.innerSortWrapper {
  margin: auto;
  width: 90%;
}

.filterButtons {
  width: 80%;
  display: flex;
  justify-content: space-between;
  text-transform: none;
  position: static;
  width:250px;
}
.menuListParent {
  position: absolute;
  width: 234px;
  z-index: 2000;
}
.menuListChild {
  display: flex;
  flex-direction: column;
}
