.sortWrapper {
  display: flex;
  flex-direction: column;
}
.innerSortWrapper{
    margin:auto;
    width:90%;
}

.filterButtons {
  width: 80%;
  display:flex;
  justify-content: space-between;
  text-transform: none;
}
