.sortWrapper {
  display: flex;
  flex-direction: column;
}
.innerSortWrapper{
    margin:auto;
    width:90%;
}

.menuListParent{
  position: absolute;
  width:250px;
  background-color: aliceblue;
  z-index: 2000;
}
.menuListChild{
  display:flex;
  flex-direction: column;
}

.filterButtons {
  width: 80%;
  display:flex;
  justify-content: space-between;
  text-transform: none;
  position:absolute;
  z-index: 100;
}
