.sloganContainer {
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
.image {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.bannerTextContainer {
  height: 50%;
  width: 50%;
  margin: auto;
  color: #ffffff;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
}
.bannerText {
  text-align: center;
  font-weight: 500;
}
.joinUsButton {
  background-color: #ff7f0e;
  color: #ffffff;
  width: 25%;
  margin: auto;
}
.arrowContainer{
  display:flex;
  flex-direction: column;
  width:2%;
  margin:auto;
}
.downArrow{
  height:5px;
  width:10px;
}

