.appBar {
  background-color: #222222;
  box-shadow: 0px 4px 8px rgba(34, 34, 34, 0.25);
  position:sticky;
}
.toolBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dlContainer1 {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

.rocketIcon {
  width: 55px;
  height: 55px;
}

.dev_launchers_title {
  font-family: "Abel", sans-serif;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
}
.dlContainer2 {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

.link {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  cursor: pointer;
  height: 22px;
  width: 100px;
  border-bottom: 4px solid #3a7ca5;
}

.linkText {
  color: #ffffff;
  width: 75px;
  margin-left: 4px;
  margin-bottom: 4px;
}

.dlContainer3 {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.signinButton:hover{
  background-color: #81C3D7;
}
.loginButton:hover{
  background-color: #FFAB00;
}
